.task{
  display: flex;
  gap: 10px;
}
  /* Sample  */

.myinput11{
  border-radius: 10px;
}
.myinput12{
  border-radius: 5px;
  background-color: green;
  color:white;
  
}
.myinput21{
  text-decoration: line-through;
}
